.steps{
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
  padding:.625rem;
}

.steps .box{
  flex:1 1 15.625rem;
  padding:.625rem;
  text-align: center;
}

.steps .box img{
  border-radius: 50%;
  border:.625rem solid #fff;
  box-shadow: 0 .4rem .625rem rgba(0,0,0,.1);
}

.steps .box h3{
  font-size: 1.875rem;
  color:#333;
  padding:.625rem;
}